/*-------- GLOBAL STYLES ---------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-size: 1.4rem;
    margin: 0;
    font-family: "Lora", "Open Sans";
    font-weight: 400;
    line-height: 1.5;
  }

  a {
  color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
  }

.homepage-hero a.button, .produce-hero a.button, .contact-hero a.button {
  background-color: #163b30;
}

.produce-hero, .contact-hero {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100vh;
  padding: 20px;
  position: relative;
}

/*-------- TYPOGRAPHY ---------*/

h1 {
    font-size: 3rem;
    line-height: 1.3;
    font-weight: 600;
    margin-top: 16px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: "Playfair Display", "Open Sans";
    color: #ffffff;
  }
  
h2, h3, h4{
    font-family: "Playfair Display", "Open Sans";
    color: #ffffff;
    text-transform: capitalize;
    font-size: 3.7rem;
  }

  a {
    display: block;
    padding: 12px 48px;
  }
  
  
  a.button {
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 26px 0;
  }

/*-------- UTILITY ---------*/

.content-width {
  width: 334px;
  height: 700px;
  margin: auto;
}

/*------------------------------------- SMALL DEVICES ---------------------------*/
/*------------------------------------- HOMEPAGE --------------------------------*/
/*-------- HEADER ---------*/

.header-container {
  background-color: #163b30;
  height: 15vh;
  z-index: 11;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 20px;
}

.header-container img {
  margin-top: 0;
  margin-left: 20px;
  width: 43px;
}

.header-container nav .toggle {
  align-self: flex-end;
  cursor: pointer;
  top: 32px;
  font-size: 30px;
}

.header-container nav ul {
  list-style-type: none;
  margin: 0;
  padding: 60px 0;
  width: 100%;
  top: 100px;  
  left: 0;
  background-color: #c5954a;
  position: absolute;
}

.header-container nav ul li {
  padding: 8px 0;
}

.header-container nav ul li a {
  text-transform: uppercase;
}

a.toggle {
  margin: 14px;
  padding: 0 34px;
}

.header-container ul {
 display: none;
}

.header-container .show-items {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  text-align: center;
  padding-right: 45px;
}

/*-------- HERO ---------*/

/*---stylings for homepage hero---*/

.homepage-hero {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.homepage-hero video {
  position: absolute;
  top: 49px;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  display: flex;
}

.homepage-hero h1 {
  margin-bottom: 10px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  z-index: 1;
  font-size: 4rem;
  padding: 0 25px;
  margin-top: 105px;
}

.homepage-hero h2 {
  text-transform: capitalize;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  z-index: 1;
  font-size: 1.8rem;
  padding-top: 13px;
  padding-left: 7px;
  color: #ffffff;
}

.homepage-hero a.button {
  padding: 12px 30px;
  z-index: 1;
  margin-top: 17px;
  margin-left: 8px;
}

.homepage-hero a {
  padding: 12px 48px;
  z-index: 1;
}

/*------ ABOUT THE FARM ------*/

.about-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  margin: 20px;
}

.image-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding-right: 20px;
  gap: 20px;
  background-color: #ffffff;
}

.image-container img {
  width: 100%;
  max-width: 332px;
  padding-top: 405px;
  padding-left: 50px;
}

.content-container {
  width: 100%;
  padding-left: 20px;
}

.content-container h2 {
  font-size: 2.7rem;
  color: #c5954a;
  padding-top: 30px;
  padding-left: 114px;
}

.content-container p {
  padding: 15px 65px 0 20px;
}

.content-container a.button {
  font-size: 1.4rem ;
  padding: 12px 20px;
  margin: 20px 0 10px 83px;
  background-color: #c5954a;
}

/*---- CALL-TO-ACTION ----*/

.action-container {
  background-color: #fee8dc;
  margin: 0;
  width: 100%;
}

.action-container img {
  width: 100%;
  max-height: 380px;
  padding: 40px 35px 0 50px;
}

.action-container h2 {
  color: #163b30;
  padding-left: 76px;
  padding-top: 30px;
  font-size: 2.7rem;
}

.action-container p {
  padding: 15px 36px 0 43px;
}

.action-container a.button {
  background-color: #163b30;
  border-radius: 4px;
  font-size: 1.3rem ;
  margin-top: 25px;
  margin-left: 120px;
  padding: 10px 20px;
}

/*---- COMMUNITY AND EVENTS ----*/

.community-events h2 {
  font-size: 2.7rem;
  color: #163b30;
  padding-left: 60px;
  margin-top: 35px;
}

.community-events h3 {
  font-size: 1.7rem;
}

.community-events p {
  padding: 26px 34px 0 41px;
  font-size: 1.5rem;
}

.community-events a.button {
  border-radius: 4px;
  display: inline-block;
  font-size: 1.3rem;
  margin: 26px 139px;
  background-color: #c5954a;
  padding: 10px 15px;
}

.community-events img {
  width: 100%;
}

/*---- FOOTER ----*/

.footer-container {
  background-color: #163b30;
  padding: 20px;
}

.footer-container nav ul {
  margin: 0;
  padding: 0;
}

.footer-container nav ul li {
  width: 122px;
  padding-right: 0;
}

.footer-container nav ul li a {
  text-transform: uppercase;
  color: #ffffff;
}

.footer-container ul {
  display: flex;
  margin-bottom: 25px;
  justify-content: center;
  list-style-type: none;
  margin-top: 20px;
}

.footer-container ul li {
}

.footer-container ul li a {
  font-size: 1.8rem;
}

.footer-container ul li a img {
  width: 25px;
  height: 25px;
}

.footer-container h4 {
  text-align: center;
  margin: 5px 0;
  color: #ffffff;
  font-size: 1.7rem;
}

.footer-container p {
  text-align: center;
  margin: 5px 28px 0;
  color: #ffffff;
}

/*------------------------------------- PRODUCE --------------------------------*/

/*---- HERO ----*/

.produce-hero {
  background-image: url("images/marketveggies.jpg");
  background-size: cover;
  background-position: center 48px;
  padding-top: 64px;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
}

.content-width {
}

.produce-hero h1 {
  text-transform: capitalize;
  font-size: 3rem;
  line-height: 3.5rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  text-align: center;
  margin-bottom: 11px;
  padding-right: 17px;
}

.produce-hero p {
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  width: 100%;
  margin-right: 13px;
}

.produce-hero a.button {
  font-size: 1.3rem ;
  padding: 10px 20px;
  margin: 15px 0 21px 0;
}

/*--- PRODUCT SELECTION ---*/

.product-list {
  background-image: url("images/leaf_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 417px;
  padding: 20px;
}

.product-list-container {
  background-color: #f1eeeb; 
  padding: 0 12px 50px;
  overflow-x: auto;
  overflow-y: hidden;
  width: 90%;
  margin: 18px 0 37px 18px;
  border-radius: 4px;
}

.product-list h2 {
  font-size: 2.7rem;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #2E2E2E;
  padding-right: 0;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  padding: 10px;
  text-align: left;
  border: solid 2px  #9b9a9a;
  background-color: #fee8dc;
  font-size: 1.7rem;
}

tbody {
  background-color: #edece8;
}

.category {
  background-color: #cbc2b9;
}

td {
  padding: 10px;
  text-align: left;
  border: 2px solid  #9b9a9a;
  font-size: 1.4rem;
}

.notice {
  background-color: #fee8dc;
  color: #2E2E2E;
  border-radius: 4px;
  text-align: center;
  padding: 5px 19px 35px 20px;
  margin: 10px 10px 23px 18px;
  width: 90%;
}

.notice h3 {
  color:#2E2E2E;
  font-size: 1.9rem;
  margin: 20px 0;
}

.notice p {
  margin: 0;
  font-size: 1.4rem;
}

/*--- BENEFITS ---*/

.benefits {
  text-align: center;
  margin: 8px 0;
  padding: 0 15px;
}

.benefits h2 {
  color: #c5954a;
  font-size: 2.7rem;
  padding-right: 31px;
  padding-left: 31px;
  margin-top: 20px;
}

.benefits p {
  font-size: 1.5rem;
  padding-right: 25px;
  padding-left: 31px;
}

.benefits .button {
  display: flex;
  margin: 15px 76px 30px 67px;
  padding: 10px 29px 10px 34px;
  color: #ffffff;
  background-color: #c5954a;
  border-radius: 4px;
}

.benefits img {
  width: 355px;
  margin-top: 6px 18px 6px 16px;
}

/*--- FOOTER ---*/

.footer-container {
  background-color: #163b30;
  padding: 20px;
}

.footer-container ul {
  display: flex;
  margin-bottom: 25px;
  justify-content: center;
  list-style-type: none;
  margin-top: 20px;
}

.footer-container ul li {
  margin-right: 15px;
}
/*------------------------------------- CONTACT --------------------------------*/

/*--- HERO ---*/

.contact-hero {
  background-image: url("images/farm_view.jpg");
  background-size: cover;
  background-position: center 48px;
  color: #ffffff;
  text-align: center;
  justify-content: center;
  padding-top: 60px;
}

.contact-hero h1 {
  text-transform: capitalize;
  margin-top: 10px;
  padding: 0 43px 0 49px;
}

.contact-hero p {
  font-size: 1.5rem;
  margin-top: 29px;
  padding: 0 43px;
}

/*--- CONTACT FORM ---*/

.contact-form {
  margin-left: 0;
  padding: 20px;
  border-radius: 4px;
  background-color: #163b30;
}

.contact-form h1 {
  text-align: center;
  margin-top: 2px;
  margin-bottom: 18px;
}

.contact-form img {
  margin: 12px 0 0 12px;
  padding: 0;
  max-width: 350px;
}

.form-group {
  margin-bottom: 20px;
  margin-top: 29px;
  text-align: center;
}

.form-group input, .form-group textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #9b9a9a;
  color: #163b30;
}

.form-group input:focus, .form-group textarea:focus {
  outline: 3px solid #163b30;
}

.btn-submit {
  background-color: #c5954a;
  color: #ffffff;
  padding: 12px 20px;
  border: solid 2px #6b5128;
  border-radius: 5px;
  margin-bottom: 4px;
  margin-left: 124px;
}

.farm-location p {
  text-align: center;
  line-height: 1rem;
}

.farm-location a {
  color: #2E2E2E;
  text-align: center;
}


